<div class=" container">
    <div class="row pt-5">
        <h1 class="text-center pt-5">Angular Test Project</h1>
        <p class="text-center mt-5">This mini project, created using Angular 18 and
            Bootstrap, features a comprehensive application with three key sections: a todo
            list for task management, a posts section for displaying and managing
            blog posts, and a mini store for showcasing products. This project demonstrates a
            well-rounded use of Angular for building dynamic, responsive web applications with a modern user interface
            provided by Bootstrap.</p>


    </div>

</div>
